.color-picker-component {
    .modal {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 1rem;
        position: absolute;
        top: 2rem;
        left: 50%;
        transform: translateX(-50%);
        background-image: url('/img/texture.png');
        background-color: lighten($background, 5%);
        background-blend-mode: overlay;
        border-radius: 1rem;
        box-shadow: $shadow;
    }

    > button {
        transform: translate(0.5rem, -0.5rem);
    }

    .fa-times {
        color: white;
        padding: 0.5rem;
    }

    .grid {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(8, 1fr);
        @media screen and (max-width: 640px) {
            grid-template-columns: repeat(6, 1fr);
        }
        @media screen and (max-width: 380px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    .color {
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        border: 0;
        border-radius: 100%;
        transform: translateY(0);
        box-shadow: $shadow-smaller;
        transition: box-shadow 0.25s ease, transform 0.25s ease;

        &:hover {
            transform: translateY(-0.25rem);
            box-shadow: $shadow;
        }
    }
}

.theme-dark .color-picker-component .modal {
    background-color: #222;
}

.theme-light .color-picker-component .modal {
    background-color: white;

    .fa-times {
        color: black;
    }
}
