.log-component {
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: $shadow inset;
    background-color: darken($background, 2.5%);
    background-image: url('/img/texture.png');
    background-blend-mode: overlay;
    box-sizing: border-box;

    header {
        display: flex;
        justify-content: space-between;
        padding: 0.5rem 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: lighten($background, 5%);
        background-image: url('/img/texture.png');
        background-blend-mode: overlay;
        box-shadow: $shadow;
        position: relative;
    }

    a {
        color: darken(white, 25%);
    }

    section {
        padding: 1rem;
        border-radius: 1rem;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        margin-top: -1px;
        border: 1px solid lighten($background, 20%);
        border-top: 0;
    }

    p {
        line-height: 1.5;
    }

    .empty-notification {
        text-align: center;
    }

    .shopping-list {
        padding: 1rem;
        background-color: lighten($background, 5%);
        background-image: url('/img/texture.png');
        background-blend-mode: overlay;
        border-radius: 1rem;
        box-shadow: $shadow;
        margin-bottom: 1rem;

        p {
            margin-bottom: 1rem;
        }
    }

    li {
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }

        &.checklist-snacks-move {
            transition: transform 0.5s ease;
        }
    }
}

.theme-dark .log-component {
    background-color: #222;

    header {
        background-color: #333;
    }

    a {
        color: darken(white, 15%);
    }

    section {
        border: 1px solid lighten(#222, 20%);
    }

    .shopping-list {
        background-color: #333;
    }
}

.theme-light .log-component {
    background-color: #999;

    header {
        background-color: white;
    }

    a {
        color: darken(white, 50%);
    }

    section {
        border: 1px solid white;
    }

    .shopping-list {
        background-color: white;
    }
}
