.snack-tray-component {
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-image: url('/img/texture.png');
    background-color: lighten($background, 5%);
    background-blend-mode: overlay;
    box-shadow: $shadow;

    .effects {
        display: flex;

        .effect {
            flex: 1;
            padding: 1rem;
            text-align: center;
            font-weight: 700;
            color: white;

            &:first-of-type {
                border-top-left-radius: 1rem;
            }

            &:last-of-type {
                border-top-right-radius: 1rem;
            }
        }

        .red {
            background: darken(red, 10%);
        }

        .green {
            background: darken(green, 10%);
        }

        .blue {
            background: darken(blue, 10%);
        }
    }

    .snacks {
        display: flex;
        justify-content: space-around;
        padding: 1rem;
        @media screen and (max-width: 640px) {
            gap: 1rem;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    .snack {
        width: 4rem;
        height: 4rem;
        background: $background;
        border-radius: 1rem;
        position: relative;
        transform: translateY(0);
        border: 1px solid rgba(0, 0, 0, 0.5);
        box-shadow: $shadow;
        transition: box-shadow 0.25s ease, transform 0.25s ease;

        &:hover {
            box-shadow: $shadow-darker;
            transform: translateY(-0.25rem);
        }

        &:before, &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 1rem;
        }

        &:before {
            border-top: 1px solid rgba(white, 0.5);
            background: linear-gradient(rgba(white, 0.25), transparent);
        }

        &:after {
            border-bottom: 1px solid black;
            background: linear-gradient(transparent, rgba(black, 0.5));
        }

        &[disabled] {
            opacity: 0.25;
            box-shadow: $shadow !important;
            transform: translateY(0) !important;
        }
    }
}

.theme-dark .snack-tray-component {
    background-color: #333;
}

.theme-light .snack-tray-component {
    background-color: white;
}
