.theme-picker-component {
    display: flex;
    flex-direction: column-reverse;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    border-radius: 4rem;
    transform: translateY(0);
    box-shadow: $shadow;
    transition: box-shadow 0.25s ease, transform 0.25s ease;

    &:hover {
        transform: translateY(-0.25rem);
        box-shadow: $shadow-darker;
    }

    button {
        cursor: pointer;
        width: 4rem;
        height: 4rem;
        border: 0;
        font-size: 2rem;
        position: relative;
        background-image: url('/img/texture.png');
        background-color: lighten($background, 5%);
        background-blend-mode: overlay;
        box-sizing: border-box;

        &:before, &:after {
            content: ' ';
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            // transition: border-radius 0.25s ease;
        }

        &:before {
            border-top: 1px solid rgba(255, 255, 255, 0.25);
            border-left: 1px solid rgba(255, 255, 255, 0.1);
            background: linear-gradient(rgba(255, 255, 255, 0.1), transparent);
        }

        &:after {
            border-bottom: 1px solid rgba(black, 0.5);
            background: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
        }

        svg {
            position: relative;
            z-index: 1;
        }

        .fa-primary { color: white; }
        .fa-secondary { color: goldenrod; }
    }

    .toggle-button {
        border-radius: 100%;
        // transition: border-radius 0.25s ease;

        &:before, &:after {
            border-radius: 100%;
        }
    }

    .themes {
        display: flex;
        flex-direction: column;
    }

    .theme:first-of-type {
        border-top-left-radius: 4rem;
        border-top-right-radius: 4rem;
        &:before, &:after {
            border-top-left-radius: 4rem;
            border-top-right-radius: 4rem;
        }
    }

    &.open {
        .toggle-button {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            &:before, &:after {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
            }
        }
    }
}

.theme-dark .theme-picker-component {
    button {
        background-color: #333;
    }
}

.theme-light .theme-picker-component {
    button {
        background-color: #999;
    }

    .fa-primary { color: darkgoldenrod; }
    .fa-secondary { color: black; }
}
