.tracker-component {
    display: flex;
    flex-direction: column;
    background-image: url('/img/texture.png');
    background-color: lighten($background, 5%);
    background-blend-mode: overlay;
    border-radius: 1rem;
    box-shadow: $shadow;

    .swatches {
        display: flex;
        justify-content: center;
        gap: 2rem;
        padding: 2rem;
        @media screen and (max-width: 640px) {
            flex-direction: column;
            align-items: center;
        }
    }

    .values {
        display: flex;
    }

    .value {
        flex: 1;
        padding: 1rem;
        color: white;
        text-align: center;
        background: black;
        font-weight: 700;

        &:first-of-type {
            border-bottom-left-radius: 1rem;
        }

        &:last-of-type {
            border-bottom-right-radius: 1rem;
        }

        &.red {
            background: darken(red, 10%);
        }

        &.green {
            background: darken(green, 10%);
        }

        &.blue {
            background: darken(blue, 10%);
        }
    }

    .color-container {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .color {
        cursor: pointer;
        width: 10rem;
        height: 10rem;
        border: 0;
        font-weight: 700;
        line-height: 1.5;
        font-size: 1rem;
        letter-spacing: 1px;
        border-radius: 100%;
        box-shadow: $shadow, 0 0 10px rgba(0, 0, 0, 0.5) inset;
        border: 4px solid white;

        &.progress {
            cursor: not-allowed;
        }
    }
}

.theme-dark .tracker-component {
    background-color: #333;
}

.theme-light .tracker-component {
    background-color: white;
}
