<template>
    <div class="checkbox-component" :class="{ checked: modelValue }" @click="toggle">
        <div class="mark-container" v-if="!modelValue">
            <span class="fal fa-square"></span>
        </div>

        <div class="mark-container" v-else>
            <span class="fal fa-check-square"></span>
        </div>

        {{ snack.name }}
    </div>
</template>

<script>
    import { ref, toRef } from 'vue';
    import snacks from '../data/snacks';

    const emits = [ 'update:modelValue' ];

    const props = {
        snack: {
            type: Object,
            required: true
        },

        modelValue: {
            type: Boolean,
            default: false
        }
    };

    const methods = {
        toggle() {
            /*const checked = !this.modelValue;
            this.$emit('update:modelValue', checked);*/
            this.$eventHub.$emit(!this.modelValue ? 'snack.feed' : 'snack.unfeed', snacks.find(snack => snack.name === this.snack.name));
        }
    };

    export default { methods, props };
</script>
