<template>
    <div class="color-picker-component" v-show="isOpen">
        <div class="modal">
            <button type="button" title="Close" aria-label="Close" @click="close">
                <i class="fas fa-times"></i>
            </button>

            <div class="grid">
                <button
                    v-for="color in colors"
                    class="color"
                    :style="{ background: `rgb(${color.value.red}, ${color.value.green}, ${color.value.blue})` }"
                    :title="color.name"
                    :aria-label="color.name"
                    type="button"
                    @click="change(color)"
                ></button>
            </div>
        </div>
    </div>
</template>

<script>
    import { colors } from '../data/colors';

    export default {
        mounted() {
            this.$eventHub.$on('color-picker.open', this.open.bind(this));
            this.$eventHub.$on('color-picker.close', this.close.bind(this));
            this.$eventHub.$on('color-picker.toggle', this.toggle.bind(this));

            document.addEventListener('focusin', e => {
                if (this.isOpen && !this.$el.contains(document.activeElement)) {
                    this.$nextTick(() => this.$el.querySelector('button').focus());
                }
            });

            document.addEventListener('keydown', e => {
                if (this.isOpen) {
                    const esc = 27;
                    if (e.keyCode === esc) this.close();
                }
            });
        },

        data() {
            return {
                isOpen: false,
                label: '',
                colors,
                previouslyActiveElement: null
            };
        },

        methods: {
            change(color) {
                this.$eventHub.$emit('color-picker.value', color);
                this.$eventHub.$emit(`color-picker.${this.label}.value`, color);
                this.close();
            },

            open(label) {
                this.label = label;
                this.isOpen = true;
                this.previouslyActiveElement = document.activeElement;
            },

            close() {
                this.isOpen = false;
                this.$nextTick(() => this.previouslyActiveElement.focus());
            },

            toggle() {
                this.isOpen = !this.isOpen;
            }
        }
    };
</script>
