<template>
    <div class="log-component">
        <header>
            <span>
                Snack Log <span v-if="snacks.length">({{ snacks.length }})</span>
            </span>

            <a href="#" aria-role="button" @click.prevent="reset" v-if="snacks.length && snacks.find(snack => snack.checked)">
                Reset
            </a>
        </header>

        <section>
            <div class="shopping-list" v-if="shoppingList.length">
                <p>You'll need to buy:</p>

                <ul>
                    <li v-for="item in shoppingList">
                        {{ item }}
                    </li>
                </ul>
            </div>

            <transition-group tag="ul" name="checklist-snacks" v-if="snacks.length">
                <li v-for="snack in snacks" :key="snack">
                    <checkbox :snack="snack" v-model="snack.checked">
                        {{ snack.name }}
                    </checkbox>
                </li>
            </transition-group>

            <p class="empty-notification" v-else>
                Choose a desired color to fill the log with the recommended snacks!
            </p>
        </section>
    </div>
</template>

<script>
    import snacks from '../data/snacks';

    export default {
        mounted() {
            this.$eventHub.$on('snack.feed', this.checkOff.bind(this));
            this.$eventHub.$on('snack.unfeed', this.unCheckOff.bind(this));
            this.$eventHub.$on('snacks.calculated', snacks => {
                const cloned = snacks.slice();
                for (const [index, clone] of cloned.entries()) {
                    clone.checked = false;
                    clone.index = index;
                }
                this.previouslyCalculatedSnacks = cloned.slice();
                this.snacks = cloned;
            });
            this.$eventHub.$on('log.snacks.get', callback => callback(this.snacks));
        },

        data() {
            return {
                snacks: [],
                previouslyCalculatedSnacks: []
            };
        },

        computed: {
            shoppingList() {
                const items = [];
                const snacksClone = this.snacks.slice();

                snacksClone.sort((a, b) => {
                    if (a.index > b.index) return 1;
                    if (a.index < b.index) return -1;
                    return 0;
                });

                while (snacksClone.length) {
                    let count = 0;
                    let item = snacksClone[0].name;
                    for (let i = snacksClone.length - 1; i >= 0; --i) {
                        if (snacksClone[i].name === snacksClone[0].name) {
                            const splicedSnack = snacksClone.splice(i, 1);
                            ++count;
                        }
                    }
                    item = `${count}x ${item}`;
                    items.push(item);
                }

                return items;
            }
        },

        methods: {
            checkOff(snack) {
                for (const logSnack of this.snacks) {
                    if (!logSnack.checked && logSnack.name === snack.name) {
                        logSnack.checked = true;
                        break;
                    }
                }

                this.snacks.sort((a, b) => {
                    if (a.checked && !b.checked) return 1;
                    if (!a.checked && b.checked) return -1;
                    return 0;
                });
            },

            unCheckOff(snack) {
                for (const logSnack of this.snacks) {
                    if (logSnack.checked && logSnack.name === snack.name) {
                        logSnack.checked = false;
                        break;
                    }
                }

                this.snacks.sort((a, b) => {
                    if (a.index > b.index) return 1;
                    if (a.index < b.index) return -1;
                    return 0;
                });

                this.snacks.sort((a, b) => {
                    if (a.checked && !b.checked) return 1;
                    if (!a.checked && b.checked) return -1;
                    return 0;
                });
            },

            reset() {
                if (!confirm('Are you sure you want to reset the snack log? This will not clear the current, desired, or in-progress color above.')) return false;

                this.snacks = this.previouslyCalculatedSnacks.slice();

                for (const snack of this.snacks) {
                    snack.checked = false;
                }
            }
        }
    };
</script>
