<template>
    <div class="snack-tray-component">
        <div class="effects">
            <div class="effect red">
                <span v-if="current && current.value.red > 0">+</span>{{ current ? current.value.red : 0 }}
            </div>

            <div class="effect green">
                <span v-if="current && current.value.green > 0">+</span>{{ current ? current.value.green : 0 }}
            </div>

            <div class="effect blue">
                <span v-if="current && current.value.blue > 0">+</span>{{ current ? current.value.blue : 0 }}
            </div>
        </div>

        <div class="snacks">
            <button
                v-for="snack in snacks"
                class="snack"
                :disabled="!canFeed(snack)"
                type="button"
                @click="feed(snack)"
                :style="{ background: `url(${snack.icon})` }"
                @mouseenter="current = snack"
                @mouseleave="current = undefined"
                :title="snack.name"
                :aria-label="snack.name"
            ></button>
        </div>
    </div>
</template>

<script>
    import snacks from '../data/snacks';

    export default {
        mounted() {
            this.$eventHub.$emit('progress.value.get', value => this.progressValue = value);
            this.$eventHub.$on('progress.value', value => this.progressValue = value);
        },

        data() {
            return {
                current: null,
                progressValue: { red: 0, green: 0, blue: 0 },
                snacks
            };
        },

        methods: {
            canFeed(snack) {
                const hypothetical = JSON.parse(JSON.stringify(this.progressValue));

                hypothetical.red += snack.value.red;
                hypothetical.green += snack.value.green;
                hypothetical.blue += snack.value.blue;

                return !(
                    hypothetical.red < 0 || hypothetical.red > 255
                        ||
                    hypothetical.green < 0 || hypothetical.green > 255
                        ||
                    hypothetical.blue < 0 || hypothetical.blue > 255
                );
            },

            feed(snack) {
                this.$eventHub.$emit('log.snacks.get', logSnacks => {
                    const snackInLog = !!logSnacks.find(logSnack => logSnack.name === snack.name);
                    if (logSnacks.length && !snackInLog && !confirm(`${snack.name} is not in the list of recommended snacks, are you sure you want to feed it to your chocobo?`)) return false;
                    if (this.canFeed(snack)) {
                        this.$eventHub.$emit('snack.feed', snack);
                    }
                });
            }
        }
    };
</script>
