<template>
    <div class="theme-picker-component" :class="{ open: isOpen }">
        <button class="toggle-button" type="button" @click="toggle">
            <span class="fad fa-eclipse"></span>
        </button>

        <div class="themes" v-if="isOpen">
            <button class="theme" type="button" v-for="theme in themes" @click="change(theme)">
                <span class="fad" :class="theme.icon" :aria-label="`${theme.name} Theme`" :title="`${theme.name} Theme`"></span>
            </button>
        </div>
    </div>
</template>

<script>
    export default {
        mounted() {
            const storedTheme = localStorage.getItem('theme');
            if (storedTheme) {
                this.change(this.themes.find(theme => theme.slug === storedTheme), false);
            }
        },

        data() {
            return {
                isOpen: false,
                themes: [
                    {
                        name: 'Default',
                        slug: 'default',
                        icon: 'fa-stars'
                    },

                    {
                        name: 'Dark',
                        slug: 'dark',
                        icon: 'fa-moon-stars'
                    },

                    {
                        name: 'Light',
                        slug: 'light',
                        icon: 'fa-sun'
                    }
                ]
            };
        },

        methods: {
            change(givenTheme, shouldClose = true) {
                if (!givenTheme || !givenTheme.slug) {
                    givenTheme = this.themes.find(theme => theme.slug === 'default');
                }

                const elements = document.querySelectorAll('html, body');

                for (const element of elements) {
                    for (const theme of this.themes) {
                        element.classList.remove(`theme-${theme.slug}`);
                    }

                    element.classList.add(`theme-${givenTheme.slug}`);
                }

                localStorage.setItem('theme', givenTheme.slug);

                if (shouldClose) this.close();
            },

            open() {
                this.isOpen = true;
                this.$nextTick(() => this.$el.querySelector('.themes button').focus());
            },

            close() {
                this.isOpen = false;
                this.$nextTick(() => this.$el.querySelector('button').focus());
            },

            toggle() {
                this.isOpen ? this.close() : this.open();
            }
        }
    };
</script>
