<template>
    <div class="tracker-component">
        <div class="swatches">
            <div class="color-container">
                <button class="color current" :style="{ color: inverseTextColor(current.value), background: `rgb(${current.value.red}, ${current.value.green}, ${current.value.blue})` }" @click="$eventHub.$emit('color-picker.open', 'current')">
                    {{ current.name }}
                </button>

                <p>Current Color</p>
            </div>

            <div class="color-container">
                <button class="color progress" :style="{ color: inverseTextColor(closestColor.value), background: `rgb(${closestColor.value.red}, ${closestColor.value.green}, ${closestColor.value.blue})` }" tabindex="-1">
                    {{ closestColor.name }}
                </button>

                <p>Color In-progress</p>
            </div>

            <div class="color-container">
                <button class="color desired" :style="{ color: inverseTextColor(desired.value), background: `rgb(${desired.value.red}, ${desired.value.green}, ${desired.value.blue})` }" @click="$eventHub.$emit('color-picker.open', 'desired')">
                    {{ desired.name }}
                </button>

                <p>Desired Color</p>
            </div>
        </div>

        <div class="values">
            <div class="value red">
                {{ progress.value.red }}
            </div>

            <div class="value green">
                {{ progress.value.green }}
            </div>

            <div class="value blue">
                {{ progress.value.blue }}
            </div>
        </div>
    </div>
</template>

<script>
    import { colors, closest } from '../data/colors';
    import snacks from '../data/snacks';

    export default {
        mounted() {
            this.$eventHub.$on('color-picker.current.value', this.updateCurrent.bind(this));
            this.$eventHub.$on('color-picker.progress.value', color => this.progress = this.clone(color));
            this.$eventHub.$on('color-picker.desired.value', this.updateDesired.bind(this));
            this.$eventHub.$on('snack.feed', this.feed.bind(this));
            this.$eventHub.$on('snack.unfeed', this.unfeed.bind(this));
            this.$eventHub.$on('progress.value.get', callback => callback(this.progress.value));
        },

        data() {
            const defaultColor = colors.find(color => color.name === 'Desert Yellow (Default)');

            return {
                defaultColor,
                lastColor: this.clone(defaultColor),
                current: this.clone(defaultColor),
                progress: this.clone(defaultColor),
                desired: this.clone(defaultColor),
                colors
            };
        },

        computed: {
            closestColor() {
                return closest(this.progress);
            }
        },

        methods: {
            clone(obj) {
                return JSON.parse(JSON.stringify(obj));
            },

            feed(snack) {
                this.lastColor = this.clone(this.progress);

                if (snack.value.red === 0 && snack.value.green === 0 && snack.value.blue === 0) {
                    this.progress = this.clone(this.defaultColor);
                }

                this.progress.value.red += snack.value.red;
                this.progress.value.green += snack.value.green;
                this.progress.value.blue += snack.value.blue;

                this.$eventHub.$emit('progress.value', this.progress.value);
            },

            unfeed(snack) {
                if (snack.value.red === 0 && snack.value.green === 0 && snack.value.blue === 0) {
                    this.progress = this.clone(this.lastColor);
                }

                this.progress.value.red -= snack.value.red;
                this.progress.value.green -= snack.value.green;
                this.progress.value.blue -= snack.value.blue;

                this.$eventHub.$emit('progress.value', this.progress.value);
            },

            inverseTextColor(value) {
                const brightness = Math.round(
                    (
                        (parseInt(value.red) * 299) +
                        (parseInt(value.green) * 587) +
                        (parseInt(value.blue) * 114)
                    ) / 1000
                );

                return (brightness >= 128) ? 'black' : 'white';
            },

            updateCurrent(color) {
                this.current = this.clone(color);
                this.progress = this.clone(color);
                this.calculateSnacks();
            },

            updateDesired(color) {
                this.desired = this.clone(color);
                this.calculateSnacks();
            },

            calculateSnacks() {
                if (closest(this.progress).name === this.desired.name) {
                    this.$eventHub.$emit('snacks.calculated', []);
                    return;
                }

                if (this.desired.name === this.defaultColor.name) {
                    this.$eventHub.$emit('snacks.calculated', snacks.filter(snack => snack.name === 'Han Lemon'));
                    return;
                }

                const snacksSimulatedFromProgress = this.calculateSnacksFor(this.progress);
                const snacksSimulatedFromDefault = this.calculateSnacksFor(this.defaultColor);

                // If the path from the default color is shorter, suggest a Han Lemon followed by the shorter path.
                if (snacksSimulatedFromDefault.length + 1 < snacksSimulatedFromProgress.length) {
                    this.$eventHub.$emit('snacks.calculated', [snacks.find(snack => snack.name === 'Han Lemon'), ...snacksSimulatedFromDefault]);
                } else {
                    this.$eventHub.$emit('snacks.calculated', snacksSimulatedFromProgress);
                }
            },

            calculateSnacksFor(color) {
                const snacksSimulated = [];
                const simulation = this.clone(color);

                let cycles = 0;
                let maxCycles = 255;
                do {
                    let simulationRedDistance = this.desired.value.red - simulation.value.red;
                    let simulationGreenDistance = this.desired.value.green - simulation.value.green;
                    let simulationBlueDistance = this.desired.value.blue - simulation.value.blue;
                    let simulationDistance = Math.sqrt((simulationRedDistance * simulationRedDistance) + (simulationGreenDistance * simulationGreenDistance) + (simulationBlueDistance * simulationBlueDistance));

                    let maxEffect = 0;
                    let mostEffectiveSnack = null;
                    for (const snack of snacks) {
                        const hypothetical = this.clone(simulation);
                        hypothetical.value.red += snack.value.red;
                        hypothetical.value.green += snack.value.green;
                        hypothetical.value.blue += snack.value.blue;
                        if (
                            (hypothetical.value.red < 0 || hypothetical.value.red > 255)
                                ||
                            (hypothetical.value.green < 0 || hypothetical.value.green > 255)
                                ||
                            (hypothetical.value.blue < 0 || hypothetical.value.blue > 255)
                        ) {
                            continue;
                        }
                        const redDistance = (this.desired.value.red - hypothetical.value.red);
                        const greenDistance = (this.desired.value.green - hypothetical.value.green);
                        const blueDistance = (this.desired.value.blue - hypothetical.value.blue);
                        const hypotheticalDistance = Math.sqrt((redDistance * redDistance) + (greenDistance * greenDistance) + (blueDistance * blueDistance));
                        const effect = simulationDistance - hypotheticalDistance;
                        if (effect > maxEffect) {
                            maxEffect = effect;
                            mostEffectiveSnack = snack;
                        }
                    }

                    snacksSimulated.push(this.clone(mostEffectiveSnack));
                    simulation.value.red += mostEffectiveSnack.value.red;
                    simulation.value.green += mostEffectiveSnack.value.green;
                    simulation.value.blue += mostEffectiveSnack.value.blue;

                    ++cycles;
                    if (cycles > maxCycles) {
                        alert("Couldn't calculate within the set number of cycles. These colors are too far apart. Please try again.");
                        break;
                    }
                } while (closest(simulation).name !== this.desired.name);

                return snacksSimulated;
            }
        }
    };
</script>
