html, body {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    background-image: url('/img/texture.png');
    background-color: darken($background, 5%);
    background-blend-mode: overlay;
}

.theme-dark {
    background-color: #111;
}

.theme-light {
    background-color: darken(white, 60%);
    color: lighten(black, 16%);
}

button {
    cursor: pointer;
    border: 0;
    font-size: 1rem;
    background: transparent;
}

.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 0 auto;
    width: fit-content;
    box-sizing: border-box;
    @media screen and (max-width: 640px) {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

.main-header {
    background-color: lighten($background, 5%);
    background-image: url('/img/texture.png');
    background-blend-mode: overlay;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: $shadow;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    @media screen and (max-width: 640px) {
        margin-top: 1rem;
    }
}

.theme-dark .main-header {
    background-color: #333;
}

.theme-light .main-header {
    background-color: white;
}

.main-footer {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 6rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: lighten($background, 25%);
    text-align: right;
    line-height: 1.5;
    box-sizing: border-box;
}

.theme-dark .main-footer {
    color: lighten(#333, 25%);
}

.theme-light .main-footer {
    color: lighten(black, 25%);
}

.main-footer .copyright {
    @media screen and (max-width: 640px) {
        text-align: center;
    }
}
